.tag-section-wrapper{
	display: flex;
	flex-direction: row;
	padding: 0px !important;
	height: 100%;
}
.tag-col-label{
	background-color: red;
	align-self: start;
	position: sticky;
	padding: 10px;

}
.tag-col-label>*{
	writing-mode:vertical-lr;
	margin: 0px;
}

.wp-block-tab-section-tab-section{
	width: 100%;
	flex-grow: 1;
	border-left: 2px solid white;
}


